duet-chart {
    .chart-container {
        width: 100%;
    }

    .counters {
        text-align: center;

        .col {
            padding-top: 0px;
        }

        h4 {
            margin-top: 0px;
            color: $balanced;
            font-style: italic;
        }
    }
}
